In [12]:
import pandas as pd
import requests
import time
import numpy as np

In [13]:
test_url = 'https://stats.nba.com/stats/leagueLeaders?LeagueID=00&PerMode=Totals&Scope=S&Season=2013-14&SeasonType=Regular%20Season&StatCategory=PTS'

In [15]:
r = requests.get(url=test_url).json()

In [20]:
table_headers = r['resultSet']['headers']

In [24]:
pd.DataFrame(r['resultSet']['rowSet'], columns=table_headers)

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
0,201142,1,Kevin Durant,1610612760,OKC,81,3122,849,1688,0.503,...,598,445,103,59,285,174,2593,2572,1.56,0.36
1,2546,2,Carmelo Anthony,1610612752,NYK,77,2982,743,1643,0.452,...,622,242,95,51,198,224,2112,1942,1.22,0.48
2,2544,3,LeBron James,1610612748,MIA,77,2902,767,1353,0.567,...,533,488,121,26,270,126,2089,2255,1.81,0.45
3,201567,4,Kevin Love,1610612750,MIN,77,2797,650,1421,0.457,...,963,341,59,35,196,136,2010,2328,1.74,0.30
4,201933,5,Blake Griffin,1610612746,LAC,80,2863,718,1359,0.528,...,757,309,92,51,224,265,1930,2082,1.38,0.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477,202354,475,Dexter Pittman,1610612737,ATL,2,3,0,1,0.000,...,3,0,0,0,0,0,0,0,0.00,0.00
478,203548,475,Elias Harris,1610612747,LAL,2,11,0,1,0.000,...,1,1,1,0,0,0,0,2,0.00,0.00
479,2735,475,Josh Childress,1610612740,NOP,4,24,0,0,0.000,...,3,2,1,0,1,1,0,5,2.00,1.00
480,2767,475,Royal Ivey,1610612760,OKC,2,5,0,2,0.000,...,1,0,0,0,0,1,0,-1,0.00,0.00
481,203091,475,Royce White,1610612758,SAC,3,9,0,1,0.000,...,0,0,0,0,0,2,0,-1,0.00,0.00

In [29]:
temp_df1 = pd.DataFrame(r['resultSet']['rowSet'], columns=table_headers)
temp_df2 = pd.DataFrame({'Year':['2013-14' for i in range(len(temp_df1))],
                         'Season_type':['Regular%20Seaseon' for i in range(len(temp_df1))]})
temp_df3 = pd.concat([temp_df2, temp_df1], axis=1)
temp_df3

,Year,Season_type,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
0,2013-14,Regular%20Seaseon,201142,1,Kevin Durant,1610612760,OKC,81,3122,849,...,598,445,103,59,285,174,2593,2572,1.56,0.36
1,2013-14,Regular%20Seaseon,2546,2,Carmelo Anthony,1610612752,NYK,77,2982,743,...,622,242,95,51,198,224,2112,1942,1.22,0.48
2,2013-14,Regular%20Seaseon,2544,3,LeBron James,1610612748,MIA,77,2902,767,...,533,488,121,26,270,126,2089,2255,1.81,0.45
3,2013-14,Regular%20Seaseon,201567,4,Kevin Love,1610612750,MIN,77,2797,650,...,963,341,59,35,196,136,2010,2328,1.74,0.30
4,2013-14,Regular%20Seaseon,201933,5,Blake Griffin,1610612746,LAC,80,2863,718,...,757,309,92,51,224,265,1930,2082,1.38,0.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477,2013-14,Regular%20Seaseon,202354,475,Dexter Pittman,1610612737,ATL,2,3,0,...,3,0,0,0,0,0,0,0,0.00,0.00
478,2013-14,Regular%20Seaseon,203548,475,Elias Harris,1610612747,LAL,2,11,0,...,1,1,1,0,0,0,0,2,0.00,0.00
479,2013-14,Regular%20Seaseon,2735,475,Josh Childress,1610612740,NOP,4,24,0,...,3,2,1,0,1,1,0,5,2.00,1.00
480,2013-14,Regular%20Seaseon,2767,475,Royal Ivey,1610612760,OKC,2,5,0,...,1,0,0,0,0,1,0,-1,0.00,0.00
481,2013-14,Regular%20Seaseon,203091,475,Royce White,1610612758,SAC,3,9,0,...,0,0,0,0,0,2,0,-1,0.00,0.00

In [30]:
del temp_df1, temp_df2, temp_df3

In [31]:
df_cols = ['Year','Season_type'] + table_headers

In [33]:
pd.DataFrame(columns=df_cols)

Empty DataFrame
Columns: [Year, Season_type, PLAYER_ID, RANK, PLAYER, TEAM_ID, TEAM, GP, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TOV, PF, PTS, EFF, AST_TOV, STL_TOV]
Index: []

[0 rows x 30 columns]

In [34]:
headers = {
    'Accept':'*/*',
    'Accept-Encoding': 'gzip, deflate, br',
    'Accept-Language': 'hu-HU,hu;q=0.9,en-US;q=0.8,en;q=0.7',
    'Connection': 'keep-alive',
    'Host': 'stats.nba.com',
    'Origin': 'https://www.nba.com',
    'Referer': 'https://www.nba.com/',
    'Sec-Ch-Ua': '"Chromium";v="122", "Not(A:Brand";v="24", "Google Chrome";v="122"',
    'Sec-Ch-Ua-Mobile': '?0',
    'Sec-Ch-Ua-Platform': "Windows",
    'Sec-Fetch-Dest': 'empty',
    'Sec-Fetch-Mode': 'cors',
    'Sec-Fetch-Site': 'same-site',
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36'
}

In [38]:
df = pd.DataFrame(columns=df_cols)
season_types = ['Regular%20Season','Playoffs']
years = ['2013-14','2014-15','2015-16','2016-17','2017-18','2018-19','2019-20','2020-21','2022-23','2023-24',]

begin_loop = time.time()

for y in years:
    for s in season_types:
        api_url = 'https://stats.nba.com/stats/leagueLeaders?LeagueID=00&PerMode=Totals&Scope=S&Season='+y+'&SeasonType='+s+'&StatCategory=PTS'
        r = requests.get(url=api_url).json()
        temp_df1 = pd.DataFrame(r['resultSet']['rowSet'], columns=table_headers)
        temp_df2 = pd.DataFrame({'Year':[y for i in range(len(temp_df1))],
                                 'Season_type':[s for i in range(len(temp_df1))]})
        temp_df3 = pd.concat([temp_df2, temp_df1], axis=1)
        df = pd.concat([df, temp_df3], axis=0)
        print(f'Finished scraping data for the {y} {s}.')
        lag = np.random.uniform(low=5,high=40)
        print(f'...waiting{round(lag,1)} seconds')
        time.sleep(lag)

print(f'Process completed! Total run time: {round((time.time()-begin_loop)/60,2)}')
df.to_exel('nba_player_data.xlsx', index=False)

C:\Users\Laci\AppData\Local\Temp\ipykernel_16436\3063426042.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, temp_df3], axis=0)

Finished scraping data for the 2013-14 Regular%20Season.
...waiting16.9 seconds
Finished scraping data for the 2013-14 Playoffs.
...waiting24.5 seconds
Finished scraping data for the 2014-15 Regular%20Season.
...waiting33.8 seconds
Finished scraping data for the 2014-15 Playoffs.
...waiting26.6 seconds
Finished scraping data for the 2015-16 Regular%20Season.
...waiting8.2 seconds
Finished scraping data for the 2015-16 Playoffs.
...waiting13.8 seconds
Finished scraping data for the 2016-17 Regular%20Season.
...waiting7.4 seconds
Finished scraping data for the 2016-17 Playoffs.
...waiting5.1 seconds
Finished scraping data for the 2017-18 Regular%20Season.
...waiting32.4 seconds
Finished scraping data for the 2017-18 Playoffs.
...waiting29.7 seconds
Finished scraping data for the 2018-19 Regular%20Season.
...waiting26.9 seconds
Finished scraping data for the 2018-19 Playoffs.
...waiting14.1 seconds
Finished scraping data for the 2019-20 Regular%20Season.
...waiting8.2 seconds
Finished scraping data for the 2019-20 Playoffs.
...waiting35.5 seconds
Finished scraping data for the 2020-21 Regular%20Season.
...waiting14.9 seconds
Finished scraping data for the 2020-21 Playoffs.
...waiting14.0 seconds
Finished scraping data for the 2022-23 Regular%20Season.
...waiting5.1 seconds
Finished scraping data for the 2022-23 Playoffs.
...waiting6.8 seconds
Finished scraping data for the 2023-24 Regular%20Season.
...waiting35.1 seconds

C:\Users\Laci\AppData\Local\Temp\ipykernel_16436\3063426042.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, temp_df3], axis=0)

Finished scraping data for the 2023-24 Playoffs.
...waiting32.7 seconds
Process completed! Total run time: 7.1

AttributeError: 'DataFrame' object has no attribute 'to_exel'

In [39]:
df

,Year,Season_type,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
0,2013-14,Regular%20Season,201142,1,Kevin Durant,1610612760,OKC,81,3122,849,...,598,445,103,59,285,174,2593,2572,1.56,0.36
1,2013-14,Regular%20Season,2546,2,Carmelo Anthony,1610612752,NYK,77,2982,743,...,622,242,95,51,198,224,2112,1942,1.22,0.48
2,2013-14,Regular%20Season,2544,3,LeBron James,1610612748,MIA,77,2902,767,...,533,488,121,26,270,126,2089,2255,1.81,0.45
3,2013-14,Regular%20Season,201567,4,Kevin Love,1610612750,MIN,77,2797,650,...,963,341,59,35,196,136,2010,2328,1.74,0.30
4,2013-14,Regular%20Season,201933,5,Blake Griffin,1610612746,LAC,80,2863,718,...,757,309,92,51,224,265,1930,2082,1.38,0.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558,2023-24,Regular%20Season,1631250,545,Pete Nance,1610612739,CLE,4,11,0,...,2,0,0,0,0,1,0,0,0.00,0.00
559,2023-24,Regular%20Season,1631245,545,Quenton Jackson,1610612754,IND,1,2,0,...,1,0,0,0,0,0,0,1,0.00,0.00
560,2023-24,Regular%20Season,1631199,545,Ron Harper Jr.,1610612761,TOR,1,4,0,...,0,1,0,0,0,2,0,1,0.00,0.00
561,2023-24,Regular%20Season,1627853,545,Ryan Arcidiacono,1610612752,NYK,20,45,0,...,8,4,2,0,2,5,0,6,2.00,1.00
562,2023-24,Regular%20Season,1630586,545,Usman Garuba,1610612744,GSW,3,8,0,...,1,1,1,0,0,2,0,2,0.00,0.00